header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #baafaf;
 
}

.logo {
    display: flex;
    border-radius: 15px;
}

    
h1 {
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    color: red;
    text-align: left;
    margin-left: 10px;
}

.btn_connect {  
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.5em;
}

.debut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    border: solid 1px rgb(160, 14, 182);
    border-radius: 20px;
    font-size: 1em;
    margin: 20px;
    height: 200px;
}

.btn_create {
    display: flex;
    color: rgba(132, 10, 177, 0.788);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.5em;
}
h2 {
    font-size: 1.5em;
    color: rgb(160, 14, 182);
}

.events {
    font-size: 1em;
    margin: 20px;
}